@{
    ViewData["Title"] = "Hướng dẫn sử dụng phần mềm Pinpos";
}

<main class="content-wrapper">
    <section class="how-it-works-section">
        <div class="works-content-split">

            <div class="works-text-container">
                <h1 class="works-title">
                    Hướng dẫn sử dụng<br>
                    phần mềm quản lý<br>
                    quán cafe, nhà hàng
                </h1>

                <p class="works-description">
                    Bạn đang tìm kiếm giải pháp phần mềm quản lý quán cafe, trà sữa, nhà hàng, quán ăn để bán hàng hiệu quả hơn?
                </p>

                <p class="works-description-bold">
                    Xem ngay hướng dẫn của Pinpos để khám phá cách quản lý của bạn một cách thông minh và khoa học nhé!
                </p>
            </div>

            <div class="works-video-container">
                <img src="/images/video-thumbnail.jpg" alt="Video Hướng dẫn Pinpos" class="works-video-thumbnail">
            </div>
        </div>
    </section>
</main>