@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
    <div class="text-center mt-3">
        <p>Create Business by Owner <a href="@Url.Action("Create","Business")">Create here</a></p>
    </div>
    <div class="text-center mt-3">
        <p> activating/deactivating by admin <a href="@Url.Action("Index","Admin")">Create here</a></p>
    </div>
</div>
